<div id="header_top" class="header_top">
    <div class="container">
        <div class="hleft">
            <a class="header-brand" href="/" class="nav-link user_btn"><img class="avatar"
                    src="../assets/images/xs/loogo.png"><i></i></a>
            <div class="dropdown">
                <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar" src="<%= user.photoURL %>"
                        alt="" data-toggle="tooltip" data-placement="right" title="<%= user.displayName %>" /></a>
                <!-- <a href="/page-search" class="nav-link icon xs-hide"><i class="fa fa-search"></i></a> -->
                <a href="/app-calendar" class="nav-link icon app_inbox xs-hide"><i class="fa fa-calendar"></i></a>
            
                    <a href="/app-contact" class="nav-link icon xs-hide"><i class="fa fa-id-card-o"></i></a>
                  
                        <a href="/app-chat" class="nav-link icon xs-hide"><i class="fa fa-comments-o"></i></a>
            </div>
        </div>
        <div class="hright">
            <div class="dropdown">
                <!-- <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-gear fa-spin"
                        data-toggle="tooltip" data-placement="right" title="Settings"></i></a> -->
                <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>
            </div>
        </div>
    </div>
</div>