<div class="user_div">
    <h5 class="brand-name mb-4">To-do list<a href="javascript:void(0)" class="user_btn"><i class="icon-logout"></i></a>
    </h5>
    <div class="card-body">
        <a href="/page-profile"><img class="card-profile-img" src="<%= user.photoURL %>" alt=""></a>
        <h6 class="mb-0">
            <%= user.displayName %>
        </h6>
        <span>
            <%= user.email %>
        </span>
    </div>
</div>